<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

.main {position: relative; margin: 0px 0px 0px 100px}
.lab {position: relative; margin: 0px 0px 0px 130px}

</style>
</head>
<body style="font-family:Arial;color:black;background-color:#E9C9F6;" >

<div style="background-color:#d5baf9;padding:10px ;">
  <h1>Tamper Playground</h1>
</div>

  <div class="main">
    <h2 >Example3</h2>
    <p >This ex BURALAR DÜZENLENCEK.</p>
     <div class="lab">
 	<h3>Here we go</h3>
    <form method="POST" action="/lab3">
      <label for="username">Push button to get user info.</label>
  <input type="hidden" id="username" name="username" value="SaadetElif"><br><br>
  <input type="submit" value="Welcome!">
</form> 
</div>
  </div>

 

</body>
</html>
